// Dispositivos extra small (telefones em modo retrato, com menos de 576px)
@media (max-width: 575.98px) {
    body{
        .title-section{
            h1{
                font-size: 4rem;
            }
            h2{
                font-size: 5rem;
            }
        }
        #container-1{
            h1{
                font-size: 5rem;
            }
            div{
                width: 25rem;
                a{
                    img{
                        width: 6rem;
                        height: 6rem;
                    }
                }
            }
            #link-arrow{
                top: 45vh;
                #arrow-down{
                    width: 4rem;
                }
            }
        }
        #portifolio{
            height: auto;
            padding-bottom: 70px;
            #container-grid{
                width: 90vw;
                
            }
        }
        #about-me{
            height: auto;
            padding-bottom: 70px;
        }
        #skills{
            height: auto;
            padding-bottom: 70px;
            div{
                width: 80vw;
            }
        }
        #form-email{
            height: auto;
            padding-bottom: 70px;
            form{
                div{
                    width: 80vw;
                }
            }
        }
    }
}

// Dispositivos small (telefones em modo paisagem, com 576px ou mais)
@media (min-width: 576px) and (max-width: 767.98px) {
    body{
        #container-1{
            h1{
                font-size: 7rem;
            }
            div a img{
                width: 7rem;
                height: 7rem;
            }
            #link-arrow{
                top: 40vh;
                #arrow-down{
                    width: 5rem;
                }
            }
        }
        #portifolio{
            height: auto;
            padding-bottom: 70px;
            #container-grid{
                width: 90vw;
                
            }
        }
        #about-me{
            height: auto;
            padding-bottom: 70px;
        }
        #skills{
            height: auto;
            padding-bottom: 70px;
        }
        #form-email{
            height: auto;
            padding-bottom: 70px;
        }
    }
}



// Dispositivos médios (tablets com 768px ou mais)
@media (min-width: 768px) and (max-width: 991.98px) {
    body{
        #container-1{
            h1{
                font-size: 8rem;
            }
            
        }
        #portifolio{
            height: auto;
            padding-bottom: 70px;
            #container-grid{
                width: 90vw;
                
            }
        }
        #about-me{
            height: auto;
            padding-bottom: 70px;
        }
        #skills{
            height: auto;
            padding-bottom: 70px;
        }
        #form-email{
            height: auto;
            padding-bottom: 70px;
        }
    }
}

// Dispositivos large (desktops com 992px ou mais)
@media (min-width: 992px) and (max-width: 1199.98px) {
    body{
        #container-1{
            h1{
                font-size: 8rem;
            }
        }
        #portifolio{
            height: auto;
            padding-bottom: 70px;
            #container-grid{
                width: 90vw;
                
            }
        }
        #about-me{
            height: auto;
            padding-bottom: 70px;
        }
        #skills{
            height: auto;
            padding-bottom: 70px;
        }
        #form-email{
            height: auto;
            padding-bottom: 70px;
        }
    }
}